* text=auto eol=lf

*.js text eol=lf
*.ts text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.wxml text eol=lf
*.wxss text eol=lf
.github/CODEOWNERS text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
